<!DOCTYPE html>
<html>
<head>
	<title>Picking Football Teams</title>
	<meta charset="utf-8">
<!-- Link to Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Link to stylesheet -->
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class = "container" ng-app = "PlayersApp" ng-controller = "PlayersController">

	<!-- Main Title -->
	<h1 class = "main-title">Selecting "five-a-side" Football Teams</h1>

	<br><br>

		<!-- Add Player Form-->
	<form name = "myForm" class = "container">
		<div class = "col-xs-12 col-md-6 well">
			<h2 class = "form-title">Build Your Squad</h2>
			Player Name:<input name= "name" type="text" ng-model = "playerName" required> <p ng-show="myForm.name.$invalid && !myForm.name.$pristine" class="help-block">A Player Name is required.</p> <p ng-show = "myForm.number.$error" class = "help-block">Name cannot be a number</p>

			Skill:<input name = "skill" type="number" name = "playerSkill" ng-model = "playerSkill" min="1" max= "10" required><br> <p ng-show="myForm.skill.$error.min" class = "help-block">Number must be between 1 and 10</p><p ng-show="myForm.skill.$error.max" class = "help-block">Number must be between 1 and 10 </p>

			Creativity: <input name = "creativity" type="number" ng-model = "playerCreativity" min="1" max= "10" required><br> <p ng-show="myForm.creativity.$error.min" class = "help-block">Number must be between 1 and 10</p><p ng-show="myForm.creativity.$error.max" class = "help-block">Number must be between 1 and 10</p>

			Tackling: <input name = "tackling" type="number" ng-model="playerTackling" min="1" max= "10" required> <p ng-show="myForm.tackling.$error.min" class = "help-block">Number must be between 1 and 10</p><p ng-show="myForm.tackling.$error.max" class = "help-block">Number must be between 1 and 10 </p><br><br> 

			<button type = "submit" class="btn-primary" ng-click= "addPlayer()" ng-disabled = "myForm.$invalid || disabled" >Add Player
			</button><br><br> Add Ten Players to Make Two Teams
		</div>
	</form>	

	<!-- Squad List Title -->
	<div>
		<h2 ng-show = "playerlist" class = "squad-title">Squad List Profiles</h2>
	</div>

	<!--Squad List of Players -->
	<div>
		<div ng-repeat = "player in players" class = "col-xs-6 well">
			<ul class = "squad">
				<li>Player Name: {{player.name}}</li>
				<li>Skill: {{player.skill}}</li>
				<li>Creativity: {{player.creativity}}</li>
				<li>Tackling: {{player.tackling}}</li>
			</ul>
		</div>
	</div>

	<!-- Create Teams Button -->
	<center>
		<button type = "submit" ng-click = "shuffle(players)" class = "create-teams" ng-show ="show">Create/Shuffle Teams</button>	
	</center>

	<!-- Five a side teams title -->
	<h1 ng-hide = "hide" class = "five-a-side-title">Here are your five-a-side teams! </h1>

	<!-- Team 1 Title -->
	<h2 ng-hide = "hide" class = "team-1-title">Team 1</h2> 

	<!-- Team 2 Title -->
	<h2 ng-hide = "hide" class = "team-2-title">Team 2</h2>

	<br><br>

 	<!-- Team 1 -->
	<div class = "team1">
		<div ng-repeat = "player in team1" class = "col-xs-6 well">
			<ul class = "team-1-list">
				<li>Player Name: {{player.name}}</li>
				<li>Skill: {{player.skill}}</li>
				<li>Creativity: {{player.creativity}}</li>
				<li>Tackling: {{player.tackling}}</li>
			</ul>
		</div>
	</div>

	<!-- Team 2 -->
	<div class = "team2">
		<div ng-repeat = "player in team2" class = "col-xs-6 well">
			<ul class = "team-2-list">
				<li>Player Name: {{player.name}}</li>
				<li>Skill: {{player.skill}}</li>
				<li>Creativity: {{player.creativity}}</li>
				<li>Tackling: {{player.tackling}}</li>
			</ul>
		</div>
	</div>
	<!-- link to Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js">
	</script>
	<!-- Link to App.js file -->
	<script src = "App.js"> </script>
</body>
</html>