

.container  {
	width: 100%;
	background-color: #228B22;
}


 .main-title {
	color: black;
	text-align: center;
}

/******** Add Player Form *******/

.container input {
	width: 100%;
}

.help-block {
	color: red;
}

.name {
	margin-bottom: 10px;
}

.skill {
	width: 25%;
	margin-left: 36px;
	margin-bottom: 5px;
}

.creativity {
	width: 25%;
	margin-bottom: 5px;
}

.tackling {
	width: 25%;
	margin-left: 7px;
}

.messi {
	height: 160px;
	width: 260px;
	margin-right: 100px;
	margin-bottom: 50px;
}

@media only screen and (max-width: 400px) {
	.messi {
	height: 100px;
	width: 150px;
	}
}

/******* Squad List Title *******/

.squad-title {
	color: black;
	text-align: center;
}


/****** Squad List *******/

.squad-player {
	margin-left: -40px;
}


/***** Create Teams Button ******/

.create-teams {
	text-align: center;
    width: 150px;
    margin: 70px;
    margin-left: 10px;
    padding: 15px;
    color: white;
    background-color: blue;
}

/**** Reset All Button ******/
.reset-teams {
	padding: 13px;
	width: 100px;
	margin-left: -20px;
}


/****** CREATED TEAMS SECTION ******/

/**** Five a side title *****/

.five-a-side-title {
	text-align: center;
	color: black;
}

/**** Team 1 Title *******/

.team-1-title {
	margin-bottom: 20px;
	color: red;
}

/**** Team 2 Title *******/

.team-2-title {
	text-align: right;
	width: 75%;
	margin-right: 120px;
	margin-top: -53px;
	color: blue;
}

/***** Team 1 ******/

.team1 {
	margin-left: -20px;
	margin-top: -30px;
	padding-left: 10px;
	color: red;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.team-1-list {
	margin-left: -35px;
}

/******* Team 2 ******/

.team2 {
	margin-left: -40px;
	margin-top: -750px;
	color: blue;
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap-reverse;
}

.team-2-list {
	margin-left: -35px;
}

