
.container  {
	width: 100%;
	background-color: #228B22;
}

.container input {
	width: 100%;
}

 .main-title {
	color: #7CFC00;
}

.form-title {
	color: 
}

.squad-title {
	color: #7CFC00;
}

.squad {
	margin-left: -35px;
}

.create-teams {
	width: 60px;
	margin: 50px;
}

.teams-title {
	color: #7CFC00;
}

.team1 {
	margin-left: -35px;
}

.team2 {
	margin-left: -30px;
}

