
.container  {
	width: 100%;
	background-color: #228B22;
}

.container input {
	width: 100%;
}

 .main-title {
	color: black;
	text-align: center;
}

.help-block {
	color: red;
}

.squad-title {
	color: black;
	text-align: center;
}

.squad-player {
	margin-left: -40px;
}

.create-teams {
	text-align: center;
    width: 30%;
    margin: 70px;
    padding: 10px;
    color: white;
    background-color: blue;

}

.five-a-side-title {
	text-align: center;
	color: black;
}

.team-1-title {
	margin-bottom: 20px;
	color: red;
}

.team-2-title {
	text-align: right;
	width: 75%;
	margin-right: 120px;
	margin-top: -53px;
	color: blue;
}

.team1 {
	margin-left: -20px;
	margin-top: -30px;
	padding-left: 10px;
	color: red;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.team2 {
	margin-left: -40px;
	margin-top: -750px;
	color: blue;
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap-reverse;
}

.team-1-list {
	margin-left: -35px;
}

.team-2-list {
	margin-left: -35px;
}

